<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>M1 Motors Chatbot Project</title>
    <meta
        content="Venha conhecer a nossa loja M1 Motors! Carros  SEMINOVOS, USADOS ou ZERO em Curitiba, acesse nosso site!"
        itemprop="description" name="description">

    <link href="favicon.ico" rel="icon" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"
        defer>
        </script>

    <style>
        .fixed-panel {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;
        }

        .media-list {
            list-style-type: none;
            padding-left: 0;
        }

        .media-list .media {
            margin-bottom: 10px;
        }

        .media-list .media-body {
            padding: 6px;
            padding-bottom: 0px;
            border-radius: 6px;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <img src="static\logo.png" class="img-fluid mx-auto d-block" alt="M1 Motors" width="20%">

                <br>

                <!-- Chatbot messages -->
                <div id="chatbot-messages" class="fixed-panel" style="height: 300px; overflow-y: auto;">
                    <div class="panel-body fixed-panel">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body bot-message">
                                    Olá! Eu sou o chatbot da M1 Motors. Como posso te ajudar hoje?
                                    <hr />
                                    <span style="float: left;">Selecione uma das opções abaixo ou digite sua
                                        pergunta:</span>
                                    <br>
                                    <ul style="list-style-type: none;">
                                        <li>1 - Qual o telefone de contato?</li>
                                        <li>2 - Qual o e-mail de contato?</li>
                                        <li>3 - Como eu acesso a politica de privacidade da empresa?</li>
                                        <li>4 - Qual o endereço?</li>
                                        <li>5 - Quem é a M1 Motors?</li>
                                        <li>6 - Qual é o site da empresa?</li>
                                    </ul>
                                    <hr />
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <br>

                <!-- User input form -->
                <form id="chatbot-form" method="post">
                    <div class="input-group">
                        <input type="text" id="user-input" class="form-control" placeholder="Digite sua mensagem..."
                            autofocus>
                        <div class="input-group-append px-2">
                            <button id="chatbot-form-btn-clear" type="button" class="btn btn-secondary">Limpar</button>
                            <button id="chatbot-form-btn" type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </form>

                <br>

                <!-- Footer -->
                <span class="mx-auto text-center d-block text-muted"><small>All rights reserved @ 2024</small></span>
                <span class="mx-auto text-center d-block text-muted">
                    <small>
                        <a class="text-reset" href="https://m1motors.com.br/" target="_blank">
                            M1 Motors
                    </small>
                </span>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS and Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Server requests -->
    <script type="text/javascript">
        $(function () {
            function toggleSubmitButton() {
                const userInput = $('#user-input').val().trim();
                $('#chatbot-form-btn').prop('disabled', userInput === '');
            }

            $('#chatbot-form-btn').click(function (e) {
                e.preventDefault();
                $('#chatbot-form').submit();
            });

            $('#chatbot-form-btn-clear').click(function (e) {
                $('#user-input').val('').focus();
                toggleSubmitButton();
            });

            $('#chatbot-form').submit(function (e) {
                e.preventDefault();

                const msg = $('#user-input').val().trim();

                $(".media-list").append(
                    '<li class="media" style="list-style-type: none;"><div class="media-body"><div class="media"><span style="padding: 6px; color: blue; float: right;"> - Você </span><div style="text-align:right; color : #000000" class="media-body">' +
                    msg + '<hr/></div></div></div></li>');

                $.ajax({
                    type: 'POST',
                    url: "/ask",
                    data: { messageText: msg },
                    success: function (response) {
                        $('#user-input').val('');

                        const answer = response.answer;

                        if (msg === '0') {
                            const initialMessages = [
                                '1 - Qual o telefone de contato?',
                                '2 - Qual o e-mail de contato?',
                                '3 - Como eu acesso a politica de privacidade da empresa?',
                                '4 - Qual o endereço?',
                                '5 - Quem é a M1 Motors?',
                                '6 - Qual o site da empresa?',
                            ]

                            const initialMessagesHTML = `
                                <li class="media">
                                    <div class="media-body bot-message">
                                        <span style="padding: 0px; color: red; float: left;">M1 Motors - </span> <br/> ${initialMessages.join('<br/>')}
                                        <hr/>
                                    </div>
                                </li>`;

                            $(".media-list").append(initialMessagesHTML);
                        } else {
                            // Display Bot response
                            $(".media-list").append(
                                '<li class="media" style="list-style-type: none;"><div class="media-body"><span style="padding: 6px; color: red; float: left;">M1 Motors - </span><div class="media"><div style = "color : #000000" class="media-body">' +
                                answer + '<hr/></div></div></div></li>');
                        }

                        // Scroll to bottom of messages
                        $(".fixed-panel").stop().animate({
                            scrollTop: $(".fixed-panel")[0].scrollHeight
                        }, 800);
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            })

            toggleSubmitButton();

            $('#user-input').on('input', toggleSubmitButton);
        })
    </script>
</body>

</html>